<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE XML>
<XML>
    <Configuration status="DEBUG">
        <Appenders>
            <Console name="Console" target="SYSTEM_OUT"/>
            <File name="FlexCaptcha" fileName="flexcaptcha.log"/>
        </Appenders>
        <Loggers>
            <Root level="debug">
                <AppenderRef ref="Console"/>
                <AppenderRef ref="FlexCaptcha"/>
            </Root>
        </Loggers>
    </Configuration>
</XML>